
/* #region utility */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.debug *{
    border: 1px dashed;
} 
/* #endregion utility */

/* #region header */
#header-flex-1{
    background-color: #1c8aaf;
    height: 50px;
    width: 100%;
    padding: 2px;
}
.container{
    background-color: #daa520;
    width: 80%;
    margin: auto;
    height: 10px;
    padding: 0.5rem;
    box-sizing: border-box;
}
.d-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.h-100{
    max-height: 30px;
    height: 100%;
    padding-top: 10 px;
}
/* #endregion header */

/* #region main */
main-flex{
    

}
.container-b{
    background-color: blue;
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#purple-s{
    background-color: #ee82ee;
    height: 80%;
    width: 50%;
    margin: 0 auto;
}
.container-w{
    background-color: white;
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    border: dashed 1px;
}
.pink-s{
    background-color: #ffc0cb;
    height: 80%;
    width: 25%;
    margin: 0 ;
}
.cyan-s{
    background-color: #1e90ff;
    height: 80%;
    width: 50%;
    margin: 0 ;
}


/* #endregion main */
